[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

## ℹ️ HOW-TO: Make the python-package editable.
#
# 1. Comment out the git-codeforlife package under [packages].
# 2. Comment out the git-codeforlife package under [dev-packages].
# 3. Uncomment the editable-codeforlife package under [dev-packages].
# 4. Run `pipenv install --dev` in your terminal.
#
# ⚠️ Make sure you revert these changes before pushing your changes or the
# pipeline will fail to install the python-package.
#
## ℹ️ HOW-TO: Install a new version of the python-package.
#
# 1. Uncomment the git-codeforlife package under [packages].
# 2. Uncomment the git-codeforlife package under [dev-packages].
# 3. Comment out the editable-codeforlife package under [dev-packages].
# 4. Set the ref key of the git-codeforlife packages under [packages] and
#     [dev-packages] to have the same version number.
# 5. Run `pipenv install --dev` in your terminal.

[packages]
codeforlife = {ref = "v0.18.11", git = "https://github.com/ocadotechnology/codeforlife-package-python.git"}
# 🚫 Don't add [packages] below that are inherited from the CFL package.

[dev-packages]
codeforlife = {ref = "v0.18.11", git = "https://github.com/ocadotechnology/codeforlife-package-python.git", extras = ["dev"]}
# codeforlife = {file = "../codeforlife-package-python", editable = true, extras = ["dev"]}
# 🚫 Don't add [dev-packages] below that are inherited from the CFL package.

[requires]
python_version = "3.12"
